.Home {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home h2 {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  border-radius: 4px;
  padding: 20px;
  width: 200px;
}

a {
  text-decoration: none;
  text-align: center;
}
